extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") Mean DJ App
					h6 -Song requests done right
			.navbar-collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href="/") Home
					li
						a(href="/parties") Parties
				div(ng-include="'/partials/account/navbar-login'")
	section.main-content
		div(ng-view)

	footer.container.text-container.text-center
		p &copy; 2014 Gigareef LLC.