.container
	.jumbotron
		h1 Mean DJ App
		p Create a party then let your audience make song requests!

	.row
		.col-md-12
			div(ng-include="'/partials/main/parties'")
		//- .col-md-6
		//- 	div(ng-include="'/partials/main/new-courses'")